/* Importez ici les polices de caractères si nécessaire */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Vos styles personnalisés */
@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}
.bg-green-100 {
  background-color: #78E9A0;
}
.bg-blue-100 {
  background-color: #B7F285;
}
.bg-yellow-100 {
background-color: #A9E5EE;
}
.bg-cyan-100 {
  background-color: #C0FAFF;
  }